body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  align-items: center;
}

.header-logo {
  color: #2e2f42;
}

.header-menu {
  display: flex;
}

.header-menu-item {
  margin-right: 40px;
}

.header-menu-item:last-child {
  margin: 0;
}

.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link:active {
  text-decoration: underline;
}

.header-menu-item:first-child .header-menu-link {
  color: #404bbf;
}

.header-menu-item:first-child .header-menu-link::after {
  content: '';
  width: 100%;
  background-color: #404bbf;
  display: block;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-address {
  font-style: normal;
}
.address-list {
  display: flex;
  justify-content: space-between;
}
.address-list-item {
  margin-right: 40px;
}

.address-list-item:last-child {
  margin: 0;
}

.address-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.about-us {
  padding: 120px 0;
}

.about-us-title {
}

.about-us-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.about-us-item {
  width: calc((100% - 3 * 24px) / 4);
}

.about-us-icon {
  background: #f4f4fd;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about-icon {
  fill: #2e2f42;
}

.about-us-theme {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-us-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.soc-icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-link:hover,
.soc-icon-link:focus {
  background-color: #404bbf;
}

.soc-icon {
  fill: #f4f4fd;
}

.team-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 5 * 24) / 6);
  margin-right: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-image {
}

.team-item:last-child {
  margin-right: 0;
}

.team-content {
  text-align: center;
  padding: 32px 0;
}

.team-member {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item {
  max-width: calc((100% - 2 * 24px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-content {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-image {
}

.portfolio-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-theme {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-cover-wraper {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text,
.portfolio-item:focus .portfolio-cover-text {
  transform: translateY(0);
}

.logo-footer {
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-conteiner {
  display: flex;
  justify-content: start;
  gap: 120px;
  padding-top: 100px;
  align-items: baseline;
}

.footer-logo-conteiner {
  margin-right: 120px;
}

.footer-social {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-soc-link {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.footer-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
}
